html{
    width: 150px;
    height: 140px;
}

#logo{
    position: absolute;
    width: 80%;
    height: auto;
    top: 10px;
    left: 10%;
}

#selectWrapper{
    position: absolute;
    top: 61%;
}

#speak{
    position: absolute;
    bottom: 10px;
    left: 5%;
    width: 90%;
    background-color: #b65454;
    border: none;   
    color: white; 
    font-weight: 450;
}